@import 'loader.css';


@font-face{
    font-family: openSans;
    src: url(../fonts/OpenSans-Regular.ttf);
}

@font-face{
    font-family: openSans;
    font-weight: bold;
    src: url(../fonts/OpenSans-Bold.ttf);
}

*{
    padding: 0;
    margin: 0;
    font-family: openSans;
}

body{
    background-color: white;
}


/* -------------- MAIN LAYOUT --------------- */

#mainContainer{
    width: 100%;
    min-height: 100vh;
    position: relative;
}

#mainHeader{
    color: white;
    background-color: #355070;
}

#mainBody{
    padding-bottom: 240px; /* Height of footer plus 40px of respect margin */
}

#upperBodyContent{
    background-color: whitesmoke;
    padding-bottom: 50px;
    background-color: #ededed;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='120' height='120' viewBox='0 0 120 120'%3E%3Cpolygon fill='%23e8e8e8' points='120 120 60 120 90 90 120 60 120 0 120 0 60 60 0 0 0 60 30 90 60 120 120 120 '/%3E%3C/svg%3E");
}

#mainFooter{
    height: 200px; /* Same as the margin-botom of #mainBody */
    width: 100%;
    background-color: #355070;
    position: absolute;
    bottom: 0;
}

#headerContent{
    padding: 10px 0px 10px 0px;
}

#headerContent,#searchTitleSection,#searchBoxSection,#randomTextSection, #footerContent{
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

#footerContent{
    height: 100%;
    padding-top: 10px;
    box-sizing: border-box;
}

#footerText{
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

#footerMedia{
    text-align: center;
}

/* -------------- MAIN LAYOUT ----------------- */

/* -------------- COMMON CLASSES -------------- */

.jumbotron{
    background-color: white;
    padding: 20px 10px 20px 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 4px -1px rgba(0,0,0,0.75);
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.customInput{
    border: 1px whitesmoke solid;
    box-sizing: border-box;
    padding-left: 10px;
}

.customInput:focus{
    outline: none;
}

.customButton{
    border: none;
    background: none;
}

.customButton:hover{
    cursor: pointer;
}

.customButton:focus{
    outline: none;
}

.featureBlock{
    position: relative;
    padding: 10px 0px 10px 0;
    min-height: 50px;
}

.roundIcon{
    position: absolute;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    color: white;
    font-size: 20px;
    background-color: #6D597A;
}

.featureBlock p{
    margin-left: 60px;
}

.centerxy{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%); 
}

.centery {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.textCenter{
    text-align: center;
}

.customTitle{
    font-size: 25pt;
    margin-bottom: 10px;
}

.customTextColor{
    color: #444444;
}

.customTextColorDark{
    color: #c7c7c7;
}

.spanText{
    color: rgb(185, 185, 185);
    font-size: 9pt;
}

.spanTextError{
    color: red;
    font-size: 9pt;
    display: none;
}

.warningColor{
    color: #e2b962;
}

.socialMediaIcon{
    position: relative;
    display: inline-block;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    color: white;
    font-size: 17px;
    background-color: #E56B6F;
}

.socialMediaIcon:hover{
    cursor: pointer;
    background-color: #e26266;
}

.ml10{
    margin-left: 10px;
}

.mr10{
    margin-right: 10px;
}

.customDisplayNone{
    display: none;
}

.keywordColor{
    color: #e26266;
    font-weight: bold;
}

/* -------------- COMMON CLASSES -------------- */

/* -------------- SPECIFIC -------------------- */

#searchTitleSection{
    padding: 10px 0 10px 0;
}

#searchInputContainer{
    width: 100%;
    text-align: center;
}

#searchInputContainer input{
    width: 100%;
    height: 40px;
    margin-bottom: 10px;
}
#searchInputContainer button{
    width: 100%;
    height: 40px;
    background-color:#E56B6F;
    color: white;
    margin-bottom: 10px;
}

#searchInputContainer button:hover{
    background-color: #e26266;
}

#randomText{
    padding: 20px 0 30px 0;
}

#searchErrorContainer, #searchFormErrorContainer{
    display: none;
    margin-bottom: 10px;
}

/* -------------- SPECIFIC -------------------- */


@media only screen and (min-width: 768px) { 

    /* -------------- MAIN LAYOUT --------------- */


    #mainBody{
        padding-bottom: 190px; /* Height of footer plus 40px of respect margin*/
    }

    #mainFooter{
        height: 150px; /* Same as the margin-botom of #mainBody */
    }

    #headerContent,#searchTitleSection,#searchBoxSection,#randomTextSection, #footerContent{
        width: 80%;
        margin-left: 10%;
        margin-right: 10%;
    }

    #footerContent{
        padding-top: 0;
    }

    #footerText{
        width: 50%;
        height: 100%;
        text-align: left;
        float: left;
        padding: 0;
    }

    #footerMedia{
        width: 50%;
        height: 100%;
        float: right;
        text-align: right;
    }

    /* -------------- MAIN LAYOUT --------------- */

    /* -------------- COMMON CLASSES -------------- */

    .jumbotron{
        padding: 40px 80px 40px 80px;
    }

    .featureBlock{
        padding: 10px 20px 10px 0;
    }

    /* -------------- COMMON CLASSES -------------- */

    /* -------------- SPECIFIC -------------------- */

    #searchTitleSection{
        padding: 20px 0 20px 0;
    }

    #searchInputContainer{
        width: 100%;
        height: 40px;
    }

    #searchInputContainer input{
        width: 68%;
        height: 100%;
        margin-bottom: 0;
        float: left;
    }
    #searchInputContainer button{
        width: 30%;
        height: 100%;
        float: right;
        border: none;
    }

    #randomFeaturesColLeft{
        width: 50%;
        float: left;
    }

    #randomFeaturesColRight{
        width: 50%;
        float: right;
    }

    #footerText{
        padding-top: 30px;
    }

    #footerMediaContainer{
        margin-top: 50px;
    }
    /* -------------- SPECIFIC -------------------- */

}

@media only screen and (min-width: 992px) { 

    #mainBody{
        padding-bottom: 140px; /* Height of footer plus 40px of respect margin */
    }

    #mainFooter{
        height: 100px; /* Same as the margin-botom of #mainBody */
    }

    #headerContent,#searchTitleSection,#searchBoxSection, #randomTextSection, #footerContent{
        width: 70%;
        margin-left: 15%;
        margin-right: 15%;
    }

    #footerMediaContainer{
        margin-top: 25px;
    }

    #footerText{
        padding-top: 10px;
    }

}